<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 my-side-colon">
      <div class="jumbotron jumbotron-fluid py-4">
        <div class="container text-center">
          <h4>Create new album:</h4>
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#createAlbumModal">New album</button>
        </div>
      </div>
    </div>
    <div class="col-md-8 my-main-section">
      <div class="container" id="get-albums">
        <!--GetAlbums-->
        <div *ngIf="albums.length == 0" class="alert alert-info text-center mt-4">
          <h4>You haven`t added albums yet</h4>
        </div>
        <div *ngIf="albums.length != 0">
          <div *ngFor="let album of albums;let i = index">
            <div class="card my-3">
              <div class="card-body">
                <h3 class="card-title d-inline-block">{{album.Name}}</h3>
                <!-- Button to Open the Modal -->
                <button type="button" class="form__button" data-toggle="modal" data-target="#albumEditNameModal"><i class="fas fa-edit"></i></button>
                <br>
                <!-- Button to Open the Modal -->
                <p class="card-text d-inline-block">{{album.Description}}</p>
                <button type="button" class="form__button" data-toggle="modal" data-target="#albumEditDescriptionModal"><i class="fas fa-edit"></i></button>
                <p class="card-text">Created: {{album.Created}}</p>
                <p class="card-text">Last updated: {{album.Updated}}</p>
              </div>
              <div class="card-footer">
                <a [routerLink]="['/photos', album.Id]" class="btn btn-info px-5">Open</a>
                <button (click)="Remove(i)" class="btn btn-danger float-right">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-2 my-side-colon"></div>
  </div>
</div>
<!--AddAlbumModal-->

<!--AlbumEditNameModal-->

<!--AlbumEditDescriptionModal-->

<div class="fake-footer"></div>
